.form {
  h1 {
    text-align: center;
  }

  form {
    min-height: 50vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
    border: 5px solid $secondary-theme;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 20px 3px inset $secondary-theme;

    * {
      font-size: 1.3rem;
    }
  }
}
