.nav-bar {
  display: grid;
  align-items: center;
  padding: 0.5rem;
  background-color: $primary-theme;
  border: 2px solid black;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  &--left {
    
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &--center {
    
    justify-self: center;
  }

  &--right {
    
    justify-self: end;
  }

  .pic-size {
    width: 4rem;
    height: 4rem;
  }

  .logo-link {
    text-decoration: none;

    &:visited {
      color: black;
    }
  }

}
